<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <h1 class="display-1">Admin Dashboard</h1>
    <!-- Updated anchor tag with inline styles -->
    <a href="{{ url_for('add_genre') }}"
        style="border: 2px solid #000; background-color: #4CAF50; color: white; padding: 10px 24px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px;">+Add</a>
    <h2 class="display-2">Genres:</h2>
    <table>
        <thead>
            <tr>
                <th>Genre ID</th>
                <th>Genre Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for genre in genres %}
            <tr>
                <td>{{ genre.id }}</td>
                <td>{{ genre.name }}</td>
                <td>
                    <a href="{{url_for('show_genre',id=genre.id)}}}" class="btn btn-primary">Show</a>
                    <a href="{{url_for('edit_genre',id=genre.id)}}}" class="btn btn-primary">Edit</a>
                    <a href="{{url_for('delete_genre',id=genre.id)}}}" class="btn btn-primary">Delete</a>
                </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>