<div class="container-fluid mt-3">
    <div class="row">
      <div class="col-md-12">
        <form method="GET">
          <div class="input-group">
            <select name="parameter" id="parameter" class="form-select">
              <option value="title">Book</option>
              <option value="genre">Genre</option>
              <option value="price">Price</option>
            </select>
            <input type="text" name="query" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-outline-primary" type="submit">Search</button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
  